@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/*---------------------------- Base ----------------------------*/
html {
    scroll-behavior:smooth;
    width:100%;
}

body {
    margin:0;
    top:0;
    width:100%;
} 

section {
    max-width:1200px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

h1 {
	line-height:30px;
	color:white;
}

h2 {
    font-size:28px;
    color:white;
}

p {
    font-size:20px;
}

/*---------------------------- Header / Footer ----------------------------*/

header {
    position:fixed;
    height:100px;
    width:100%;
    top:0;
    z-index:5;
    background-color:#E8E8E8;
}

footer {
    display:flex;
  	justify-content:space-around;
    width:100%;
	height:100px;
	background-color:#E8E8E8;
}

/*Conteneur des boutons + caractéristiques des boutons du header / footer*/

#h-content, #h-content2, #f-content {
    display:flex;
    flex-direction:row;
    max-width:90%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#E8E8E8;
}

.h-items, #h-items2, .f-items {
	display:flex;
	align-items:center;
  	justify-content:center;
    text-align:center;
    width:100%;
    text-decoration:none;
    font-family:'Roboto';
    font-weight:bold;
    font-size:20px;
    color:#1a1a1a;
}

.h-items, #h-items2 {
    line-height:100px;

    filter:drop-shadow(0 2mm 0.5mm grey);
    transition:0.08s ease-in;
    -webkit-transition:0.08s ease-in;
}

.f-items {
    flex-direction:column;
}

/*Effets d'animation sur les boutons du header*/

.h-items:hover, #h-items2:hover{
    background-color:#E8E8E8;
    transition:0.2s ease-in-out;
    cursor:pointer;
}

/*Bouton affiché/non-affiché dans le header (au bout d'une certaine taille)*/

#h-show, #planet-header {
    display:none;
    width:80px;
	height:80px;
	background-repeat:no-repeat;
	background-size:48px 48px;
	background-position:center;
}

#h-show {
    margin-left:10px;
	margin-top:10px;
    float:left;
    background-image:url("./images/menu_icon.png");
}

#planet-header {
    margin-right:10px;
    float:right;
}

#logo-menu {
    display:flex;
    width:50px;
    height:50px;
    margin:auto;
    text-align:center;
}

#logo-planet {
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100%;
}

#h-show:hover, #logo-menu:hover {
	cursor:pointer;
    filter: opacity(0.5) drop-shadow(0 0 0 #b62121);
    transition: 0.15s ease-in;
}

#h-hide {
	display:none;
	height:50px;
}

/*---------------------------- Ancrage ----------------------------*/

#second-anchor, #third-anchor, #fourth-anchor, #fifth-anchor{
    padding-top:100px;
}

/*---------------------------- Contenu première page ----------------------------*/

/*Décalage par rapport au header*/

#index-section {
	margin-top:100px;
    max-width:none;
	width:100%;
}

/*Conteneur de la première page*/

.container-1, #container-mlegales {
    display:flex;
	justify-content:center;
    position:relative;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    background-color:#0C0B0B;
}

/*Arrière-plan sur le thème de l'espace*/

.container-1 .space, #container-mlegales .space {
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #fff,25vw -41vh 0px 0px #fff,-20vw 49vh 0px 1px #fff,5vw 40vh 1px 1px #fff,29vw 19vh 1px 0px #fff,-44vw -13vh 0px 0px #fff,46vw 41vh 0px 1px #fff,-3vw -45vh 0px 1px #fff,47vw 35vh 1px 0px #fff,12vw -8vh 1px 0px #fff,-34vw 48vh 1px 1px #fff,32vw 26vh 1px 1px #fff,32vw -41vh 1px 1px #fff,0vw 37vh 1px 1px #fff,34vw -26vh 1px 0px #fff,-14vw -49vh 1px 0px #fff,-12vw 45vh 0px 1px #fff,-44vw -33vh 0px 1px #fff,-13vw 41vh 0px 0px #fff,-36vw -11vh 0px 1px #fff,-23vw -24vh 1px 0px #fff,-38vw -27vh 0px 1px #fff,16vw -19vh 0px 0px #fff,28vw 33vh 1px 0px #fff,-49vw -4vh 0px 0px #fff,16vw 32vh 0px 1px #fff,36vw -18vh 1px 0px #fff,-25vw -30vh 1px 0px #fff,-23vw 24vh 0px 1px #fff,-2vw -35vh 1px 1px #fff,-25vw 9vh 0px 0px #fff,-15vw -34vh 0px 0px #fff,-8vw -19vh 1px 0px #fff,-20vw -20vh 1px 1px #fff,42vw 50vh 0px 1px #fff,-32vw 10vh 1px 0px #fff,-23vw -17vh 0px 0px #fff,44vw 15vh 1px 0px #fff,-40vw 33vh 1px 1px #fff,-43vw 8vh 0px 0px #fff,-48vw -15vh 1px 1px #fff,-24vw 17vh 0px 0px #fff,-31vw 50vh 1px 0px #fff,36vw -38vh 0px 1px #fff,-7vw 48vh 0px 0px #fff,15vw -32vh 0px 0px #fff,29vw -41vh 0px 0px #fff,2vw 37vh 1px 0px #fff,7vw -40vh 1px 1px #fff,15vw 18vh 0px 0px #fff,25vw -13vh 1px 1px #fff,-46vw -12vh 1px 1px #fff,-18vw 22vh 0px 0px #fff,23vw -9vh 1px 0px #fff,50vw 12vh 0px 1px #fff,45vw 2vh 0px 0px #fff,14vw -48vh 1px 0px #fff,23vw 43vh 0px 1px #fff,-40vw 16vh 1px 1px #fff,20vw -31vh 0px 1px #fff,-17vw 44vh 1px 1px #fff,18vw -45vh 0px 0px #fff,33vw -6vh 0px 0px #fff,0vw 7vh 0px 1px #fff,-10vw -18vh 0px 1px #fff,-19vw 5vh 1px 0px #fff,1vw 42vh 0px 0px #fff,22vw 48vh 0px 1px #fff,39vw -8vh 1px 1px #fff,-6vw -42vh 1px 0px #fff,-47vw 34vh 0px 0px #fff,-46vw 19vh 0px 1px #fff,-12vw -32vh 0px 0px #fff,-45vw -38vh 0px 1px #fff,-28vw 18vh 1px 0px #fff,-38vw -46vh 1px 1px #fff,49vw -6vh 1px 1px #fff,-28vw 18vh 1px 1px #fff,10vw -24vh 0px 1px #fff,-5vw -11vh 1px 1px #fff,33vw -8vh 1px 0px #fff,-16vw 17vh 0px 0px #fff,18vw 27vh 0px 1px #fff,-8vw -10vh 1px 1px #fff;
    box-shadow: 24vw 9vh 1px 0px #fff,12vw -24vh 0px 1px #fff,-45vw -22vh 0px 0px #fff,-37vw -40vh 0px 1px #fff,29vw 19vh 0px 1px #fff,4vw -8vh 0px 1px #fff,-5vw 21vh 1px 1px #fff,-27vw 26vh 1px 1px #fff,-47vw -3vh 1px 1px #fff,-28vw -30vh 0px 1px #fff,-43vw -27vh 0px 1px #fff,4vw 22vh 1px 1px #fff,36vw 23vh 0px 0px #fff,-21vw 24vh 1px 1px #fff,-16vw 2vh 1px 0px #fff,-16vw -6vh 0px 0px #fff,5vw 26vh 0px 0px #fff,-34vw 41vh 0px 0px #fff,1vw 42vh 1px 1px #fff,11vw -13vh 1px 1px #fff,48vw -8vh 1px 0px #fff,22vw -15vh 0px 0px #fff,45vw 49vh 0px 0px #fff,43vw -27vh 1px 1px #fff,20vw -2vh 0px 0px #fff,8vw 22vh 0px 1px #fff,39vw 48vh 1px 1px #fff,-21vw -11vh 0px 1px #fff,-40vw 45vh 0px 1px #fff,11vw -30vh 1px 0px #fff,26vw 30vh 1px 0px #fff,45vw -29vh 0px 1px #fff,-2vw 18vh 0px 0px #fff,-29vw -45vh 1px 0px #fff,-7vw -27vh 1px 1px #fff,42vw 24vh 0px 0px #fff,45vw -48vh 1px 0px #fff,-36vw -18vh 0px 0px #fff,-44vw 13vh 0px 1px #fff,36vw 16vh 0px 1px #fff,40vw 24vh 0px 0px #fff,18vw 11vh 0px 0px #fff,-15vw -23vh 1px 0px #fff,-24vw 48vh 0px 1px #fff,27vw -45vh 1px 0px #fff,-2vw -24vh 0px 1px #fff,-15vw -28vh 0px 0px #fff,-43vw 13vh 1px 0px #fff,7vw 27vh 1px 0px #fff,47vw 5vh 0px 0px #fff,-45vw 15vh 1px 1px #fff,-5vw -28vh 0px 1px #fff,38vw 25vh 1px 1px #fff,-39vw -1vh 1px 0px #fff,5vw 0vh 1px 0px #fff,49vw 13vh 0px 0px #fff,48vw 10vh 0px 1px #fff,19vw -28vh 0px 0px #fff,4vw 7vh 0px 0px #fff,21vw 21vh 1px 1px #fff,-15vw -15vh 0px 1px #fff,-6vw -42vh 1px 0px #fff,-15vw 48vh 1px 1px #fff,-23vw 25vh 1px 1px #fff,-48vw 25vh 0px 1px #fff,-31vw -19vh 0px 1px #fff,4vw 37vh 1px 1px #fff,-43vw 28vh 0px 0px #fff,3vw -25vh 0px 1px #fff,-39vw 14vh 0px 1px #fff,-40vw 31vh 0px 1px #fff,35vw -36vh 1px 1px #fff,16vw 49vh 0px 0px #fff,6vw 39vh 0px 0px #fff,3vw -35vh 0px 1px #fff,-44vw -2vh 1px 0px #fff,-6vw 21vh 1px 0px #fff,48vw 9vh 1px 1px #fff,-43vw 30vh 1px 1px #fff,29vw -12vh 1px 1px #fff,-48vw 13vh 1px 0px #fff,-42vw 32vh 1px 1px #fff,34vw 15vh 1px 1px #fff,29vw -37vh 1px 1px #fff,28vw 2vh 0px 0px #fff;
    animation: zoom 16s alternate infinite; 
}

/*Animation de zoom effective sur les points*/

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

/*Ensemble des éléments du conteneur de la première page*/

#all-content, #pos-content {
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    margin-top:100px;
    margin-bottom:200px;
}

#all-content {
    max-width:1400px;
    width:85%;
}

/*Élément principal*/

#main-content {
    display: flex; /* Utilisez flexbox pour organiser le contenu */
    align-items: flex-start; /* Alignez le contenu vertical au sommet */
    justify-content:space-between; /* Espace entre le texte et l'image */
    margin-bottom:100px;
    padding:30px;
    border-radius:20px;
    text-align:left;
    flex-wrap: wrap; /* Permet de gérer plusieurs lignes si nécessaire */
}

.content-left {
    flex: 1; /* Le texte prend autant d'espace que possible */
    padding-right: 20px; /* Ajoutez de l'espacement à droite du texte */
    padding-top:50px;
}

#main-title, #bar-space {
    font-family:'Poppins', sans-serif;
    font-size:28px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, lightgrey, white, white, lightgrey);
}


.planet-image-container {
    max-width: 50%; 
}

.planet-image {
    max-width: 100%; /* Assurez-vous que l'image s'adapte à la largeur du conteneur */
    height: auto;
    transform: translateY(0px);
	animation: float 6s ease-in-out infinite;
}

#p-styles1 {
    padding-top:20px;
    font-weight:bold;
    font-family:'Roboto';
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #a30000, #ff3434, #ff3434, #a30000);
    text-align:justify;
}

#content-left-button {
    display:flex;
    justify-content:center;
    margin-top:70px;
    margin-bottom:70px;
}

#button-more {
    display: inline-block;
    padding: 15px 20px;
    background: linear-gradient(90deg, #a30000, #ff3434);
    color: #fff;
    border: none;
    border-radius: 20px; 
    text-decoration: none;
    text-align: center; 
    font-family:'Merriweather Sans', sans-serif;
    font-weight: bold;
  }
  
#button-more:hover {
    background: linear-gradient(90deg, #6e0000, #a30000); 
    cursor: pointer;
    transition: 0.8s ease-in-out; 
}

/*Éléments secondaires (contact)*/

#pos-contact-container {
    display: flex;
    flex-direction: column; /* Placez les éléments verticalement les uns sous les autres */
    align-items:center;
    animation: float 6s ease-in-out infinite;
}

.contact-container {
    border-radius:40px;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
}

.links {
    text-decoration:none;
}

.images-container {
    margin-left:20px;
    margin-right:20px;
    max-width:25%;
    height:50px;
    width:50px;
    border-radius:100%;
    background-image: linear-gradient(-45deg, #0C0B0B, #330303, #5c0303, #940000);
    background-size:600% 100%;
}

.images-container:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(168, 33, 33));
    transition: 0.3s ease-in-out;
}

/*Animation de contenu flottant*/

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

/*---------------------------- Contenu deuxième / troisième & quatrième page ----------------------------*/

/*Conteneurs*/

.container-2, .container-3, .container-4, .container-5 {
    display:flex;
    position:relative;
    justify-content:center;
    background-size:cover;
}

.container-2 {
    background-color:#111010;
}

.container-3 {
    background-color:#131313;
}

.container-4 {
    background-color:rgb(22, 22, 22);
}

.container-5 {
    background-color:rgb(24, 24, 24);
}

/*Ensemble des éléments du conteneur de la deuxième/troisième/quatrième/cinquième page
+ éléments constituant le formulaire*/

#all-content-2, #all-content-3, #all-content-4, #all-content-5 {
    margin-left:auto;
    margin-right:auto;
    max-width:900px;
    width:80%;
    text-align:justify;
    font-weight:bold;
}

#all-content-5, .champs, #last-champ, #souscrire, .link-container {
    display:flex;
	align-items:center;
  	justify-content:center;
  	flex-direction:column;
}

#first-pos-title {
    font-family:'Poppins', sans-serif;
    font-size:28px;
    margin-bottom:100px;
}

/* */

/*Carrousel et timeline*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel {
    background: #EEE;
    border-radius: 10px;
  }

.carousel-cell {
    display: flex;
    width: 100%; 
    height: 400px; 
    margin-right: 10px;
    border-radius: 10px;
    padding:10px;
    background-color:#1f1f1f;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    font-size: 80px;
    color: white;
}

.carousel-cell-image {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 40%;
    margin-right: 10px; /* Ajustez la marge selon vos besoins */
    overflow: hidden;
    border-right:3px solid whitesmoke; 
    border-radius:2px;
}

#first-image-carousel, #second-image-carousel {
    height: 50%;
}

#third-image-carousel {
    height: 40%;
}

#first-image-carousel {
    width: 80%;
}

#second-image-carousel {
    width: 60%;
}

#third-image-carousel {
    width: 90%;
}

.carousel-cell-text {
    width: 60%;
    padding: 20px; /* Ajustez le remplissage selon vos besoins */
    color: white; /* Couleur du texte */
}

.carousel-cell-text h3 {
    margin-top: 0;
}

.carousel-cell-text p {
    margin-bottom: 0; /* Supprime la marge inférieure par défaut du paragraphe */
}

.carousel-content {
    font-family:'Roboto';
    font-style: italic;
}

.project-context-1, .project-context-2{
    font-family:'Roboto';
    font-style:normal;
    font-weight:bold;
    color:white;
}

.project-context-1 {
    background-color:orangered;
}

.project-context-2 {
    background-color:orange;
}

.carousel-content-p {
    font-family:'Roboto';
    font-weight: normal;
    color:lightgray;
}

.custom-link {
    font-family:'Roboto';
    display:inline-flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    padding:10px 20px;
    background-color:white;
    color:#131313;
    border:2px solid #131313;
    border-radius:5px;
    transition:background-color 0.3s, color 0.3s;
    width:55%; /* Nouvelle propriété pour occuper la largeur complète */
    text-align:center;
}

.custom-link:hover {
    background-color:#131313;
    color:white;
}

.custom-link img {
    margin-right:10px; 
    max-height:20px;
}

.cd-container {
    font-family:'Roboto';
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10%;
    border-radius: 2px;
}

.cd-container::after {
    content: '';
    display: table;
    clear: both;
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background: white;
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

.cd-timeline-img {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cd-competence-1 {
    background:red;
    box-shadow: 0 0 0 4px rgb(192, 13, 13), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-competence-2 {
    background:orange;
    box-shadow: 0 0 0 4px rgb(192, 135, 13), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-competence-3 {
    background:gold;
    box-shadow: 0 0 0 4px rgb(192, 174, 13), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-competence-4 {
    background:lightgreen;
    box-shadow: 0 0 0 4px rgb(13, 192, 117), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-competence-5 {
    background:blue;
    box-shadow: 0 0 0 4px rgb(13, 16, 192), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-competence-6 {
    background:rgb(15, 15, 15);
    box-shadow: 0 0 0 4px black, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #1f1f1f;
    border-radius: 2px;
    padding: 1em;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);

    .timeline-content-info {
      background: #272727;
      padding: 5px 10px;
      color: rgba(255,255,255,0.7);
      font-size: 12px;
      box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
      border-radius: 2px;

      i {
        margin-right: 5px;
      }

      .timeline-content-info-title, .timeline-content-info-date {  
        width: calc(50% - 2px);
        display: inline-block;
      }

      @media (max-width: 500px) {
        .timeline-content-info-title, .timeline-content-info-date {  
          display: block;
          width:100%;
        } 
      }
    }

    .content-skills {
        font-size: 12px;
        padding:0;
        margin: 10px 0 0 0;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;

        p {
          background: #363636;
          border-radius: 2px;
          display: inline-block;
          padding: 2px 10px;
          color: white;
          margin: 3px 2px;
          text-align: center;
          flex-grow: 1;
          box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.08);
        }

        p img {
            vertical-align: middle;
            height:15px;
            width:15px;
        }
    }
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h3 {
    color: rgba(255,255,255,.9);
    margin-top:0;
    margin-bottom: 5px;
}

.cd-timeline-content p, .cd-timeline-content .cd-date {
    color: rgba(255,255,255,.7);
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #1f1f1f;
}

#timeline-hyperlink {
    color:white;
}

#timeline-hyperlink:hover {
    color:lightgray;
    transition:0.3s ease-in-out;
}

/*Expériences*/

.breadcrumb {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width:40%;
    color:white;
    font-family: 'Roboto';
}

.breadcrumb p {
    margin: 0;
    padding-bottom:10px;
}

.breadcrumb-titles {
    font-size:14px;
}

.breadcrumb-details {
    font-weight: normal;
    font-size:12px;
}

.breadcrumb a {
    display: block;
    margin:30px 0 30px 0;
    text-decoration: none;
    box-sizing: border-box;
    border-radius:10px;
    padding: 20px;
    color:white;
    transition: background-color .25s;
}

.breadcrumb a:first-child {
    background-color: orange;
}

.breadcrumb a:last-child {
    background-color: orangered;
    pointer-events: none;
}

.breadcrumb a:hover {
    background-color: orangered;
}

.fa-arrow-up-long {
    position: relative;
    font-size: 32px;
    color: orange; /* Couleur de la flèche */
    margin-bottom: 10px; /* Espace entre la flèche et le texte */
}

.breadcrumb a img {
    height:100px;
    width:150px;
    border-radius: 10px;
}

/*Compétences*/

.competences-container, .soft-skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.competence-1 i, .competence-2 i, .competence-3 i, .competence-4 i, .soft-skill-1 i, .soft-skill-2 i {
    font-size:50px;
}

.competence-1 img, .competence-2 img, .competence-3 img, .competence-4 img, .soft-skill-1 img, .soft-skill-2 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Ajoutez une bordure arrondie pour les images */
}

.competence-1 p, .competence-2 p, .competence-3 p, .competence-4 p, .soft-skill-1 p, .soft-skill-2 p {
    font-family:'Roboto';
    margin-top: 10px;
    font-size: 20px;
}

.competence-header-1, .competence-header-2, .competence-header-3, .competence-header-4, .competence-header-5, .competence-header-6 {
    text-align:center;
}

.competence-1, .competence-2, .competence-3, .competence-4, .soft-skill-1, .soft-skill-2 {
    border-radius:10px;
    padding:20px;
}

.competence-header-1 {
    color: red;
}

.competence-1 {
    border:2px solid red;
}

.competence-1:hover, .competence-1:hover .competence-header-1 {
    color:white;
    background-color:red;
}

.competence-header-2 {
    color: orange;
}

.competence-2 {
    border:2px solid orange;
}

.competence-2:hover, .competence-2:hover .competence-header-2 {
    color:white;
    background-color:orange;
}

.competence-header-3 {
    color: gold;
}

.competence-3 {
    border:2px solid gold;
}

.competence-3:hover, .competence-3:hover .competence-header-3 {
    color:white;
    background-color:gold;
}

.competence-header-4 {
    color: lightgreen;
}

.competence-4 {
    border:2px solid lightgreen;
}

.competence-4:hover, .competence-4:hover .competence-header-4 {
    color:white;
    background-color:lightgreen;
}

.competence-header-5 {
    color: blue;
}

.soft-skill-1 {
    border:2px solid blue;
}

.soft-skill-1:hover, .soft-skill-1:hover .competence-header-5 {
    color:white;
    background-color:blue;
}

.soft-skill-2 {
    border:2px solid black;
}

.soft-skill-2:hover {
    color:white;
    background-color:black;
}

.competence-text {
    font-size:16px;
    font-weight: normal;
    color:white;
    text-align:left;
}

/*Element contenant le texte + la barre verticale + le bouton télécharger
+ caractériques du formulaire*/

.v-bar {
    display:inline-block;
    height:auto;
    border-left:4px solid #E8E8E8;
    border-radius:2px;
}

.pos-titles {
    font-family:'Poppins', sans-serif;
    font-size:28px;
    margin-top:75px;
    margin-bottom:100px;
}

#first-carac, #second-carac, #third-carac, #fourth-carac, #fifth-carac, #sixth-carac {
    font-size:32px;
}

#first-carac {
    color:gold;
}

#second-carac {
    color:orange;
}

#third-carac {
    color:orangered;
}

#fourth-carac {
    color:red;
}

#fifth-carac {
    color:darkred;
}

#sixth-carac {
    color:purple;
}

.p-styles3, .p-styles5, .legend {
    margin-bottom:50px;
    padding-left:20px;
    font-family:'Roboto';
}

.p-styles3 {
    color:orange;
}

.p-styles5 {
    color:orangered;
}

.legend, .legend i {
    font-size:11px;
    color:whitesmoke;
}

#me-contacter {
    color:#FFD88C;
}

#me-contacter:hover {
    color:#ffefd0;
    transition:0.5s ease-in-out;
}

#button-download {
    display:block;
    margin-left:auto;
    margin-right:auto;
	margin-top:30px;
    margin-bottom:20px;
    padding:15px 25px;
    width:35%;
    border:none;
    border-radius:10px;
    line-height:25px;
    text-align:center;
    font-family:'Merriweather Sans', sans-serif;
    font-size:18px;
    text-decoration:none;
    background-color:#E8E8E8;
    color:#1a1a1a;
}    

#button-download:hover {
    background-color:#797979;
    color:#E8E8E8;
    transition: 0.5s ease-in-out;
}

#form-contact {
    margin-top:40px;
    margin-bottom:125px;
    padding:10px;
    max-width:800px;
    width:90%;
    border-radius:5px;
    border:3px solid rgb(219, 128, 255);
    background-color:#1f1f1f;
}

#form-title {
    font-family:'Poppins', sans-serif;
    font-size:28px;
}

#form-carac {
    color:rgb(219, 128, 255);
    font-size:32px;
}

.champs, #last-champ, #souscrire {
    margin-left:auto;
    margin-right:auto;
    font-family:'Merriweather Sans', sans-serif;
}

.champs, #last-champ {
    margin-bottom:50px;
    width:90%;
    border-radius:5px;
    text-align:justify;
}

.champs {
    padding-bottom:30px;
    height:auto;
    border:3px solid purple;
    background-color:#494949;
}

#last-champ {
    resize:none;
    padding-bottom:100px;
    border:3px solid #75009c;
    background-color:#616161;
}

#souscrire {
    cursor:pointer;
    padding:15px 20px;
    font-weight:bold;
    font-size:18px;
    border-radius:10px;
    border:2px solid #E8E8E8;
    background-color:#0C0B0B;
    color:#E8E8E8;
}

.champs::placeholder {
    background-color:#494949;
}

#last-champ::placeholder {
    background-color:#616161;
}

.champs:hover {
    border:3px solid #ff00ff;
}

#last-champ:hover {
    border:3px solid #fc75fc;
}

.champs:hover::placeholder, .champs:focus, .champs:focus::placeholder {
    color:#494949;
    background-color:#E8E8E8;
    transition:0.5s ease-in-out;
}

.champs:hover, .champs:hover::placeholder, #last-champ:hover, #last-champ:hover::placeholder {
    background-color:#E8E8E8;
    transition:0.5s ease-in-out;
}

#last-champ:hover::placeholder, #last-champ:focus, #last-champ:focus::placeholder {
    color:#616161;
    background-color:#E8E8E8;
    transition:0.5s ease-in-out;
}

#souscrire:hover {
    border:3px solid #0C0B0B;
    background-color:white;
    color:#0C0B0B;
    transition:0.5s ease-in-out;
}

::placeholder{
    color:white;
    font-size:15px;
}

/*---------------------------- Contenu page mentions légales ----------------------------*/

#pos-content {
    max-width:1000px;
    width:70%;
}

#content-mlegales {
    margin-bottom:100px;
    padding:30px;
    border-radius:80px;
    border:4px solid #74009e;
    background-color:#0C0B0B;
    backdrop-filter: blur(10px);
}

#title-mlegales {
    font-size:28px;
    font-family:'Poppins', sans-serif;
    margin-bottom:50px;
    text-align:center;
    color:rgb(225, 149, 255);
}

.mlegales-subtitles {
    font-family:'Poppins', sans-serif;
    font-size:22px;
}

.mlegales-carac {
    color:rgb(225, 149, 255);
}

.p-styles4 {
    padding-left:20px;
    font-family:'Roboto';
    font-weight:bold;
    color:rgb(93, 0, 146);
}

#github-ml {
    color:rgb(132, 0, 209);
}

#github-ml:hover {
    color:rgb(162, 0, 255);
    transition:0.3s ease-in-out;
}

/*------------------------------- Scrollbar ------------------------------------*/

::-webkit-scrollbar {
    width:15px;
}

::-webkit-scrollbar-thumb {
    border-radius:5px;
    border:31px none #ffffff;
    background:#940000;
}

::-webkit-scrollbar-thumb:active {
    background:#b40000;
}

::-webkit-scrollbar-track {
    background:#1f1f1f;
}

::-webkit-scrollbar-corner {
    background:transparent;
}

/*------------------------------- Responsive ------------------------------------*/

@media (max-width: 1400px) { /*Premier décalage du header*/
    #container-1, #container-2{
        width:100%;
		padding-bottom:100px;
		padding-top:50px;      
    }

    #h-content {
        display:none;
        flex-direction:column;
        justify-content:space-around;
        float:left;
        height:auto;
        max-width:400px;
        width:100%;
        height:100vh;
        background-color:rgba(255,255,255,0.9);
    } 

    .h-items {
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left:auto;
		margin-right:auto;
        height:15%;
        width:100%;
        font-size:15px;
        transition:ease-out 0.5s;
    }

    #h-show, #h-hide, #planet-header {
		display:block;
	}

    .images-container {
        margin-left:5px;
        margin-right:5px;
    }

    #main-title {
        text-align:center;
    }

}

@media only screen and (min-width: 1170px) {

    #cd-timeline {
      margin-top: 3em;
      margin-bottom: 3em;
    }

    #cd-timeline::before {
      left: 50%;
      margin-left: -2px;
    }

    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }

    .cd-timeline-img {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cd-timeline-content {
        color: white;
        margin-left: 0;
        padding: 1.6em;
        width: 36%;
        margin: 0 5%;
    }
    
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #1f1f1f;
    }

    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 130%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #1f1f1f;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 130%;
        text-align: right;
    }
}

@media (max-width: 1070px) { /*Second décalage du header*/

    #main-title, #first-carac, #second-carac, #third-carac, #fourth-carac, #fifth-carac, #sixth-carac, #form-carac, #title-mlegales {
        font-size:24px;
    }

    #first-pos-title, .pos-titles, #form-title, .mlegales-subtitles{
        font-size:22px;
    }

    h2, #p-styles1 {
        font-size:18px;
    }

    .carousel-content, .cd-timeline-content h3,  .competence-1 p, .competence-2 p, .competence-3 p, .competence-4 p, .soft-skill-1 p, .soft-skill-2 p {
        font-size:15px;
    }

    p, .f-items, .p-styles2, .competence-text, #button-download, #souscrire, .champs::placeholder, #last-champ::placeholder {
        font-size:13px;
    }

    .carousel-content-p, .custom-link {
        font-size:11px;
    }

    #all-content {
        margin-bottom:400px;
    }

    #pos-contact-container {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }

    .contact-container {
        margin-top:5px;
        max-width:200px;
        width:100%;
    }

    .content-left {
        padding-right:0px;
    }

    .planet-image-container {
        display:none;
    }
    
    .p-styles4 {
        text-align:justify;
    }
}

@media (max-width: 768px) {

    .competences-container, .soft-skills-container {
        grid-template-columns: 1fr; 
    }

    .carousel-cell-image {
        display:none;
    }

    .carousel-cell-text {
        display:flex;
        flex-direction:column;
        width:100%;
    }

    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date, .cd-timeline-content p {
        font-size: 11px;
    }
    
    #pos-content {
        width:85%;
    }

    #content-mlegales {
        padding-left:20px;
        padding-right:20px;
    }
}

@media (max-width: 400px) {

    #all-content {
        margin-top:80px;
        margin-bottom:100px;
    }

    .content-left {
        padding-top:0px;
    }

    #mail-mlegales {
        font-size:12px;
    }
}
